html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #fff;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	/*-webkit-appearance:none;*/
	background-color:rgba(0, 0, 0, 0);
}
span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
}
a, a:visited{
	text-decoration:none;
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
} 
.loading_more:after {
	content: '加载更多';	
}



.fl {
	float: left;
}
.fr {
	float: right;
}
h3 {
	font-weight: 400;
}

/* header便签 */

     header.header {
            height: 1rem;
            /*width: 100%;*/
            background-color: #3A393E;
            font-size: 0;
            display: -webkit-box; 
    display: flex; 
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
        }
header.header .head {
    height: .44rem;
    /*padding: 0 .3rem;*/
    width: 100%;
    color: #fff;
    display: -webkit-box; 
    display: flex; 
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
header.header .winTitle {
    font-size: .34rem;
    text-align: center;
    width: 4.5rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


header.header .callback { 

    width: 1rem;
    height: .37rem;
    background: url(../image/icon_fanh.png)no-repeat;
    background-size: .22rem .37rem;
    padding-left: .3rem;
    position: absolute;
    left: .3rem;
    bottom: .04rem;         
    font-size: .28rem;
    display: -webkit-box; 
    display: flex; 
    -webkit-box-align: center;
    align-items: center;
    
}
header.header .rightBtn {
    font-size: .28rem;
    position: absolute;
    right: .3rem;
    bottom: .04rem;
    color: #0ABB07;
}

/* 加号 */
/*header.header span.rightBtn {
    display: inline-block;
    width: .44rem;
    height: .44rem;
    background: url(../../image/icon_add.png)no-repeat;
    -webkit-background-size: .44rem .44rem;
    background-size: .44rem .44rem;
    background-position: 0 center;
}*/