<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6947696977363"  version="0.0.1">
  <name>widget</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
	<preference name="appBackground" value="rgba(0,0,0,0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="autoUpdate" value="true"/>
	<preference name="smartUpdate" value="false"/>
	<preference name="debug" value="false"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="location"/>
	<permission name="internet"/>
	<!-- 键盘弹出方式 -->
	<preference name="softInputMode" value="auto"/>
	<access origin="*"/>
	<!-- 融云2 -->
	<feature name="rongCloud2">
	    <param name="appKey" value="25wehl3u270sw" />
	</feature>
	<!-- 下拉刷新 -->
	<preference name="customRefreshHeader" value="UIPullRefreshFlash"/>

	<!-- 百度地图AK  bMap -->
	<feature name="bMap">
	    <param name="android_api_key" value="DTkYRcW4fzGkWe2h1a4zpcOrT5a6quXz" />
	    <param name="ios_api_key" value="qSFP5Y3rk4gdHNFiVwtituxDDzGjbsZo" />
  	</feature>
	<!-- 定位 -->
  	<feature name="baiduLocation">
    	<param name="apiKey" value="DTkYRcW4fzGkWe2h1a4zpcOrT5a6quXz" />
    </feature>
</widget>